body {
background-color: black;
}
h1 {
	color: lime;
	margin-left: 600px;
}
.side-bar {
	background-color: gray;
	height: 200px;
	width: 300px;
	font-family: Georgia,sans-serif;
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
}
.side-bar ul {
	padding-top: 15px;

}

li {
	margin: 20px;
	width: 150px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 7px 10px;
	list-style: none;
	border-radius: 5px;
}
a {
	
	text-decoration: none;
	color: black;
}
li:hover {
	background-color: lightgray;
	color: black;
}


li a {
	display: block;
	width: 150px;
	padding: 10px;
	background-color: #1F2937;
	text-decoration: none;
	color: white;
	text-align: center;
	font-family: Verdana, sans-serif;
	margin: 0px;
}

a:hover {
	background-color: lightgray;
	color:black ;
}

p {
	font-size: 18px;
}
